<!DOCTYPE html>
    <script
    type="text/javascript"
    src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
    <style type="text/css">
      #mynetwork {
        border: 1px solid lightgray;
        height: 500px;
        margin-bottom: 5%;
        background-color:  whitesmoke;
      }
    </style>
  </head>
  <body>
    <div style="width:40vw; height:500px;">
      <div id="mynetwork"><div class="vis-network" tabindex="0" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 500px; height: 500px;"><canvas style="position: relative; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 500px; height: 500px;"></canvas></div></div>
    </div>
    {{ network_script }}

</body></html>